<!-- tartalom -->
<div class="container bg-white mt-5 pt-5 shadow rounded text-center">
  <div class="row">
    <section class="col-12 text-start">
      <h1 class="fs-3 fw-bold text-center text-success">Üdvözlünk a ScooreSchool oldalán!</h1>
      <p class="fs-5 text-center">
        Csatlakozz hozzánk, és tapasztald meg, milyen egyszerűen rögzítheted a mérkőzések statisztikáit! Itt a sport
        iránti szenvedélyedet egy közösséggel oszthatod meg, ahol minden statisztika számít. Legyen szó csapatokról vagy
        helyi bajnokságokról, a ScooreSchool segít nyomon követni a teljesítményt és a fejlődést.
      </p>
    </section>
  </div>

  <div class="row mt-4">
    <section class="col-lg-4 col-sm-4 mb-4 justify-content-center">
      <img src="cipo.jpg" class="img-fluid rounded-circle shadow img-fluid w-75 h-75"
        alt="kép">
    </section>
    <section class="col-lg-4 col-sm-4 mb-4 justify-content-center">
      <img src="srac.jpg" class="img-fluid rounded-circle shadow img-fluid w-75 h-75"
        alt="kép">
    </section>
    <section class="col-lg-4 col-sm-4 mb-4 justify-content-center">
      <img src="masikcipo.jpg" class="img-fluid rounded-circle shadow img-fluid w-75 h-75"
        alt="kép">
    </section>
  </div>

  <div class="row">
    <section>
      <p class="fs-5">
        Fedezd fel velünk a sport világát, és éld át a közös élményeket!
      </p>
    </section>
  </div>
</div>