<div class="d-flex justify-content-center mt-5 p-5 fs-4">
    <div class="card shadow w-25">
        <div class="card-body p-4">
            <h1 class="text-center text-success mb-4">Bejelentkezés</h1>
            <form>
                <div class="mb-3">
                    <label for="username" class="form-label">Felhasználónév</label>
                    <input type="text" class="form-control" id="username" placeholder="Felhasználónév" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Jelszó</label>
                    <input type="password" class="form-control" id="password" placeholder="Jelszó" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-success fs-5 w-100">Bejelentkezés</button>
                </div>
            </form>
        </div>
    </div>
</div>