<!-- kereses -->
<div class="container bg-white mt-5 p-5 shadow-lg rounded text-center">
  <form class="row g-3 justify-content-center">
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Intézmény neve">
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Csapat neve">
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Játékos neve">
    </div>
    <div class="col-auto">
      <input type="date" class="form-control" placeholder="Dátum">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-success">Keresés</button>
    </div>
  </form>

  <!-- kereses eredmenye -->
  <div class="mt-5 p-3 bg-success rounded">
    <h3 class="text-white">Keresési eredmények</h3>
    <div class="input-group result-box bg-light mt-2 mx-2 rounded w-25">
      <select class="form-select">
        <option selected>Rendezés...</option>
        <option>Gólok száma alapján növekvő sorrendbe</option>
        <option>Gólok száma alapján csökkenő sorrendbe</option>
      </select>
    </div>

    <!-- eredmenyek -->
    <div class="result-box bg-light mt-2 mx-2 rounded row">
      <div class="col-lg-2 col-md-2 col-sm-2">Ideje</div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <p>Csapat 1</p>
        <p>Csapat 2</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <p>Gólok 1</p>
        <p>Gólok 2</p>
      </div>
    </div>

    <div class="result-box bg-light mt-2 mx-2 rounded row">
      <div class="col-lg-2 col-md-2 col-sm-2">Ideje</div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <p>Csapat 1</p>
        <p>Csapat 2</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <p>Gólok 1</p>
        <p>Gólok 2</p>
      </div>
    </div>

    <div class="result-box bg-light mt-2 mx-2 rounded row">
      <div class="col-lg-2 col-md-2 col-sm-2">Ideje</div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <p>Csapat 1</p>
        <p>Csapat 2</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <p>Gólok 1</p>
        <p>Gólok 2</p>
      </div>
    </div>
  </div>
</div>