<div class="container bg-white mt-5 pt-3 pb-5 shadow rounded text-center">
  <h1 class="mb-5">Új meccs adatainak mentése</h1>

  <!-- adatok felvetele -->
  <form>
    <div class="row mb-3">
      <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
        <input type="text" class="form-control" placeholder="Szervező intézmény neve">
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
        <input type="text" class="form-control" placeholder="Csapat 1">
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
        <input type="text" class="form-control" placeholder="Csapat 2">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
        <input type="date" class="form-control" placeholder="Meccs napja">
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
        <input type="number" class="form-control" placeholder="Csapat 1 Góljai">
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
        <input type="number" class="form-control" placeholder="Csapat 2 Góljai">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
        <input type="time" class="form-control" placeholder="Meccs ideje">
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
        <input type="number" class="form-control" placeholder="Csapat 1 cseréinek száma">
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
        <input type="number" class="form-control" placeholder="Csapat 2 cseréinek száma">
      </div>
    </div>

    <button type="submit" class="btn btn-success w-100 fs-4 mt-3">Mentés</button>
  </form>
</div>