<div class="container mt-5">
  <div class="row justify-content-center">

    <!-- uj adat felvetel -->
    <div class="col-lg-6 col-md-12 col-sm-12 mb-3 mt-5">
      <div class="card shadow rounded">
        <img src="mentes.jpg" class="card-img-top rounded img-fluid" alt="Új adatok mentése">
        <div class="card-body">
          <a href="adatmentes" class="btn btn-success w-100 fs-4">Új adatok mentése</a>
        </div>
      </div>
    </div>

    <!-- statisztika keszites -->
    <div class="col-lg-6 col-md-12 col-sm-12 mb-3 mt-5">
      <div class="card shadow rounded">
        <img src="statisztika.jpg" class="card-img-top rounded img-fluid" alt="Statisztika készítés">
        <div class="card-body">
          <a href="statisztika" class="btn btn-success w-100 fs-4">Statisztika készítés</a>
        </div>
      </div>
    </div>

  </div>
</div>